* {
  font-family: Arial, sans-serif;
}

name,
manager,
contacts,
address,
website,
annotation,
car-id > *,
truck-id > *,
moto-id > * {
  display: none;
}

car::before {
  content: "Коли";
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}
truck::before {
  content: "Камиони";
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}
moto::before {
  content: "Мотори";
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}

car {
  margin-top: 50px !important;
  background-color: rgb(202, 130, 130);
}
truck {
  margin-top: 50px !important;
  background-color: rgb(130, 202, 162);
}
moto {
  margin-top: 50px !important;
  background-color: rgb(142, 130, 202);
}

car-id[type]::before,
truck-id[type]::before,
moto-id[type]::before {
  content: attr(type);
  display: table-cell;
  border: 3px solid black;
  padding: 10px 14px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

car-id[type]::before {
  background-color: rgb(221, 178, 178);
}
truck-id[type]::before {
  background-color: rgb(178, 213, 194);
}
moto-id[type]::before {
  background-color: rgb(173, 164, 220);
}

car,
truck,
moto {
  display: table;
  width: 92%;
  margin: 0 auto 30px auto;
  border: 3px solid black;
  border-collapse: collapse;
}

car-id,
truck-id,
moto-id {
  display: table-row;
}

brand,
model,
year,
price,
km,
fuel-type {
  display: table-cell;
  border: 3px solid black;
  padding: 10px 14px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(225, 225, 225);
}

image {
  display: table-cell;
  border: 3px solid black;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(225, 225, 225);
}

image img {
  width: 100%;
  height: 65px;
  object-fit: contain;
  display: block;
  background-color: white;
  border-radius: 20px;
}

link {
  display: table-cell;
  border: 3px solid black;
  padding: 10px 14px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(225, 225, 225);
}
