* {
  font-family: Arial, sans-serif;
  margin-left: 20px;
}

name,
manager,
contacts,
address,
website,
annotation,
car-id > *,
truck-id > *,
moto-id > * {
  display: none;
}

car::before {
  content: "Коли";
  font-size: 30px;
  font-weight: bold;
}
truck::before {
  content: "Камиони";
  font-size: 30px;
  font-weight: bold;
}
moto::before {
  content: "Мотори";
  font-size: 30px;
  font-weight: bold;
}

car-id[type]::before,
truck-id[type]::before,
moto-id[type]::before {
  content: "Тип: " attr(type);
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}
car-id,
truck-id,
moto-id {
  display: block;
  padding: 10px 5px;
  width: 800px;
  margin: auto;
}
car,
truck,
moto {
  display: block;
  padding: 10px;
  width: 80%;
}
car {
  background-color: rgb(79, 49, 79);
  color: white;
}
car-id[type]::before {
  color: rgb(37, 20, 37) !important;
}
car-id {
  background-color: rgb(130, 93, 130);
  color: white;
}
truck {
  background-color: rgb(28, 49, 184);
  color: white;
}
truck-id[type]::before {
  color: rgb(8, 18, 83) !important;
}
truck-id {
  background-color: rgb(78, 91, 175);
  color: white;
}
truck {
  background-color: rgb(28, 49, 184);
  color: white;
}
truck-id[type]::before {
  color: rgb(8, 18, 83) !important;
}
truck-id {
  background-color: rgb(78, 91, 175);
  color: white;
}
price {
  margin-bottom: 20px;
}

brand,
model,
year,
price {
  display: list-item;
}
